body {
    margin: 0%;
    padding: 0%;
    background-image: url(../images/register-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
}

#dp-crop {
    position: absolute;
    top: 7%;
    right: 39%;
    /* height: 300pt; */
    padding: 30pt;
    border: 2px solid;
    border-radius: 5pt;
    display: none;
    background-color: rgba(185, 141, 20, 0.753);
}

.crop-buttons {
    text-align: right;
    margin-right: 30px;
    margin-top: 30px;
}

.crop-buttons button {
    width: 80pt;
    height: 25pt;
    border-radius: 3pt;
    color: antiquewhite;
    background-color: rgb(34, 20, 2);
    margin-left: 10pt;
}

.original-upload {
    /* margin-top: 90px; */
    margin-right: 30pt;
    margin-left: 20pt;
    max-width: 100%;
    display: block;
}

.cropped-upload {
    height: 160px;
    width: 160px;
    /* margin-top: 90pt; */
    overflow: hidden;
    background-color: aqua;
}

.my-form-heading {
    text-align: center;
    color: aliceblue;
    font-size: 2.5rem;
}

.registration-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 800px; */
}

.registration-form-inner-container {
    background-color: rgba(235, 255, 255, 0.555);
    /* height: 700px; */
    width: 800px;
    justify-self: center;
    align-self: center;
    border-radius: 3%;
}

#switch-level {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10pt;
}

#switch-level select {
    width: 100pt;
    text-align: center;
    margin-left: 10pt;
    font-size: 1.1rem;
    box-shadow: 1.5pt 1.5pt 2pt black;
    border-radius: 5pt;
}

#switch-level label {
    margin-left: 10pt;
}

.flexme {
    /* display: flex; */
    padding-top: 10pt;
    padding-left: 8%;
    margin-bottom: 15pt;
    margin-right: 5pt;
    justify-content: center;
    align-items: center;
}

.flexme label {
    font-family: Tahoma;
    font-weight: bold;
    color: rgb(61, 15, 4);

}

.flexme input, .flexme select, .flexme textarea {
    height: 20pt;
    padding-left: 10pt;
    font-size: 1rem;
    border-radius: 5pt;
    margin-right: 10pt;
    border: none;
    box-shadow: 1.5pt 1.5pt 2pt black;
}

.flexme button {
    border-radius: 5pt;
    width: 35%;
    height: 25pt;
}

.active {
    display: none;
}

.form2 {
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 8%;
    display: block;
}

.form2 label {
    font-family: Tahoma;
    font-weight: bold;
    margin-bottom: 5pt;
}

.form2 textarea, .form2 input{
    width: 90%;
    border-radius: 5pt;
    margin-bottom: 10pt;
}

.form2 select {
    margin-bottom: 10pt;
    width: 20%;
    height: 20pt;
    border-radius: 5pt;
    padding-left: 5pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

#pp-div-passport  {
    position: absolute;
    right: 6%;
    margin-right: 20pt;
    background-color: rgb(49, 23, 2);
    padding: 7pt;
    border-radius: 8pt;
    color: aliceblue;
    outline: inset;
    outline-offset: -3pt;
    outline-width: 0.1px;
}

#pp-outer {
    display: block;
    position: relative;
    text-align: right;
    padding-right: 7%;
}

#pp-outer img {
    width: 120pt;
    border-radius: 50%;
    right: 4%;
    outline: double;
    outline-offset: -6pt;
    border: 3pt solid rgb(39, 19, 1);
}
